In [1]:
number=100 # value 100 stored in a variable called 'number'
number     # shiftenter

100

In [3]:
a=10
b=20
c=30
avg=(a+b+c/3)
print(avg)

40.0

**Note**

- python is a step by step proccess

- python will take the last output as the latest value

- in above code we are using same variable number 

- but number value change two times

- first time 100

- second time 200

- latest value 200

In [2]:
NUMBER=200
NUMBER

200

In [3]:
number, NUMBER

(100, 200)

In [4]:
NUMber=300
NUMber

300

In [5]:
number=123=400
number123

SyntaxError: cannot assign to literal (3656507377.py, line 1)

In [6]:
number123=400
number

100

In [7]:
number123=400
number123

400

In [8]:
num%er=600
num%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2211805861.py, line 1)

In [9]:
number one=800
number

SyntaxError: invalid syntax (2566732656.py, line 1)

In [10]:
number one=800
number one

SyntaxError: invalid syntax (2656576567.py, line 1)

In [11]:
number_one=100
number_one

100

In [12]:
_=1000
_

1000

In [13]:
n1=100,200
n1

(100, 200)

In [14]:
n2,n3=200
n2,n3

TypeError: cannot unpack non-iterable int object

In [15]:
n4,n5=100,200

In [16]:
n4,n5=100,200
n4,n5

(100, 200)

In [17]:
n4,n5=100,200
n4
n5

200

In [18]:
n4,n5=100,200
print(n4)
print(n5)

100
200

In [19]:
n1,_=200,300
n1,_

(200, 300)

- Python variables are case sensitive

- Variables can be declare as capital letters

- Variable can be declare as small letters

- Variables can not start with numbers (prefix)

- Numbers can be suffix of the variables

- Variables cannot have special characters except **underscore**

- Variables does not have space between the names

- Only underscore is possible

- Keywords or reserved words can not use variables

- Two values can be assign to single variable

- One value cannot be assign to variables

In [ ]:
True
true